.favorite{
  background-color: blue;
  color: white;
}

section.course {
  display: flex;

  .card {
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 4px;

    header {
      font-size: 18px;
      font-weight: bold;
    }
  }
}