<h1>新增課程</h1>

<%= render 'form', course: @course, btn_label: '新增課程' %>

<% render 'form', course: @course, a: 1, b:2 %>
<% render 'form', course: @course1, title: "新增課程" %>
<% render 'form', course: @course2, b:2 %>